welcome .section {
	border: solid 1px transparent;
	font-family: 'Lato', sans-serif;
}

welcome #first-section {
	position: relative;
	background: 50% 50% url('/images/women-helping-elder-computer.jpeg');
	background-size: cover;
}

welcome .action {
	font-weight: bold;
	margin: auto;
	margin-top: 200px;
	width: 1000px;
	font-size: 48px;
	padding:60px;
	color: rgb(250,240,210);
	text-align: center;
	border-radius: 20px;
	background: rgba(0,0,0,0.4)
}

welcome .callout {
}

welcome .proceed {
	display: inline-block;
	/*background: rgb(232,110,83)*/;
	padding: 18px 28px 28px 28px;
	margin-left: 10px;
	border-radius: 12px;
	/*border: solid 2px rgb(232,110,83);*/
	background: rgb(232,110,83);
	font-weight: bold;
	color: rgb(250,240,210);
	cursor: pointer;
}

welcome .callout p {
	margin: 0 0 20px 0;
	padding: 0;
}

welcome #second-section {
	background: rgb(64,150,140);
	color: white;
}

welcome .big-centered {
	margin: auto;
	margin-top: 130px;
	text-align: center;
	font-size: 48px;
	color: white;
	width: 1000px;
	font-weight: bold;
}

welcome .third, welcome .third-last {
	width: 400px;
	float: left;
}

welcome .third-top {
	background: white;
	height: 64px;
	border-radius: 20px 20px 0 0;
	border: solid 1px white;
}

welcome .third-bottom {
	border: solid 1px white;
	border-radius: 0 0 20px 20px;
	text-align: center;
	font-size: 36px;
	color: white;
	padding: 10px;
	height: 160px;
	fond-weight: bold;
}

welcome .third {
	margin-right: 20px;
	cursor: pointer;
}

welcome .third-first .third-bottom {
	padding-top: 40px;
	height: 130px;
}

welcome .one-two-three {
	height: 41px;
	width: 30px;
	border-radius: 50%;
	color: white;
	border: solid 2px rgb(64,150,140);
	background: rgb(64,150,140);
	margin: auto;
	margin-top: 8px;
	font-weight: bold;
	font-size: 30px;
	padding-left: 12px;
	padding-top: 1px;
}

welcome .third-last {
	margin-right:0;
	cursor: pointer;
}

welcome .thirds {
	width: 1246px;
	margin: auto;
	margin-top: 64px;
}

welcome #third-section {
	background: rgb(47,29,82);
}
