<header class="not-scrolled">	<div class="brand">
      <div class="moniker">
        WeChipIn
      </div>
    </div>

    <div class="right-elements">

      <dropmenu class="nav-item login-menu ng-isolate-scope" id="vzu3q6w4">

        <div class="drop-toggle">
          <span class="toggler-text">login</span>
          ▿
        </div>

        <div class="drop left" style="display: none;">
          <login><div class="form-line">
              <label class="login-label">email:</label> <input type="text">
            </div>

            <div class="form-line">
              <label>password:</label> <input type="password">
            </div>

            <div class="vert-16"></div>

            <div class="form-line centering">
              <div class="button">submit</div>
            </div>
          </login>
        </div>
      </dropmenu>

    </div>
  </header>

  <div id="first-section" class="section wide" style="height: 699px;">
    <div class="action">
      <div class="callout">
        <p>
          Do something meaningful.<br>
          Be a positive force in the world.<br>
          Help the people around you.<br>
        </p>
        <p>
          We'll help you
          <span class="proceed">
					pursue your cause
				</span>
        </p>
      </div>
    </div>
  </div>

  <div id="second-section" class="section" style="height: 699px;">

    <div class="big-centered">
      We connect you with the people, opportunities, and resources
      that will help you have a positive impact in your community.
    </div>

    <div class="thirds">

      <div class="third third-first">
        <div class="third-top">
          <div class="one-two-three">1</div>
        </div>
        <div class="third-bottom">
          Tell us what causes you're interested in.
        </div>
      </div>

      <div class="third">
        <div class="third-top">
          <div class="one-two-three">2</div>
        </div>
        <div class="third-bottom">
          We'll connect you with people and activities that will
          inspire you.
        </div>
      </div>

      <div class="third-last">
        <div class="third-top">
          <div class="one-two-three">3</div>
        </div>
        <div class="third-bottom">
          Start your own initiatives in your community and get others involved.
        </div>
      </div>

      <div class="clearfix"></div>

    </div>

  </div>

  <div id="third-section" class="section" style="height: 699px;">
    <div class="big-centered">
      Some info about us goes here.
    </div>
  </div>
</welcome><!-- end ngIf: !userService.user -->
