choicegroup {
	border: solid 1px green;
	border-radius: 6px;
	background: green;
	display: inline-block;
	width: 200px;
}
choicegroup .choicegroup-label {
	font-size: 24px;
}
choicegroup .expand {
	display: inline-block;
}
choicegroup .options {
	display: none;
}

choicegroup .options.active {
	display: block;
}
